<!-- <p>searchrecipe works!</p> -->

<body style=" background-image: url('./assets/img1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-4" *ngFor="let result of searchResult ">
                <tr>  
                    <td > 
                      {{result.title}}
                    <img  src="{{result.image}}" alt=""  height="200px" width="150px">
                   
                
                 </td>                
              </tr>
              </div>
        </div>
    </div>
    </body>